# vscode-extension
out
dist/
node_modules
.vscode-test/
npm-debug.log
mock-debug.txt
*.vsix
.DS_Store

# haskell
stack.yaml.lock
.stack-work/
dist-newstyle/
cabal.project.local
.ghc.environment.*
*.o
*.hi

# nix
result*

# osx
.DS_Store

# emacs
*~

# tags
TAGS
main

# C
./main
*.dSYM

# stg
*.fullpak
*.modpak

# tags
tags

# external-stg-interpreter
.ext-stg-work
